body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  width: 1130px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  position: sticky;
  flex-direction: column;
  width: clamp(100px, 50%, 200px);
  height: 100vh;
  user-select: none;
  top: 0px;
  align-self: flex-start;
}

.navbar-item-container {
  display: flex;
  flex-direction: column;
}

.navbar-item {
  display: flex;
  padding: 4px 0px;
  text-decoration: none;
}

.navbar-item:hover > .navbar-item-elements {
  overflow: hidden;
  background-color: rgb(65, 95, 21);
}

.navbar-item:hover .navbar-item-icon svg {
  fill: rgb(0, 255, 0);
}

.navbar-item:hover .navbar-item-text {
  color: rgb(0, 253, 0);
}

.navbar-item-elements {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
  transition: background-color 0.5s;
}

.navbar-item-text {
  margin: 0px 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: color 0.5s;
}

.navbar-item-icon svg {
  width: 30px;
  height: 30px;
  color: black;
  transition: fill 0.5s;
}

.navbar-logout-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
}

.navbar-profile-container:hover {
  cursor: pointer;
  background-color: rgb(216, 255, 157);
}

.navbar-profile-container {
  display: flex;
  padding: 12px;
  border-radius: 20px;
  align-items: center;
  width: 100%;
}

.navbar-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-profile-name {
  margin: 0px 10px;
}

.navbar-profile-dots {
  width: 25px;
  height: 25px;
  margin-left: auto;
}

.logout-dropdown-menu {
  position: absolute;
  transform: translateY(-65px) translateX(-175px);
  width: 250px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: grey;
  background-color: white;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-decoration: none;
  color: rgb(107, 107, 107);
}

@media only screen and (max-width: 1130px) {
  #root {
    width: clamp(500px, 100%, 1130px);
  }
  .navbar {
    width: 75px;
  }
  .navbar-item {
    width: 75px;
    justify-content: center;
  }
  .navbar-item-text {
    display: none;
  }
  .navbar-logout-container {
    width: 75px;
  }
  .navbar-profile-container {
    justify-content: center;
  }
  .navbar-profile-dots {
    display: none;
  }
  .navbar-profile-name {
    display: none;
  }
  .logout-dropdown-menu {
    transform: translateY(-65px) translateX(-42px);
  }
}

@media only screen and (max-width: 500px) {
  #root {
    width: clamp(200px, 100%, 500px);
  }
  .bottom-navbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: space-around;
  }
  .logout-dropdown-menu {
    transform: translateY(-65px) translateX(-97%);
  }
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
  min-width: 400px;
  max-width: 600px;
}

.home {
  text-align: left;
  border: 0.5px solid #dcdcdc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.search-bar {
  background-color: #ebeef0;
  border-radius: 30px;
  padding: 15px;
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  align-self: flex-start;
}

.search-bar input {
  border: none;
  outline: none;
  background-color: inherit;
}

.home-title {
  margin: 10px;
  font-weight: bold;
}

.post {
  border: 0.5px solid #dcdcdc;
  margin-bottom: 2px;
  padding: 10px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post:hover {
  background-color: lightgray;
}

.profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-name {
  font-weight: bold;
  font-size: 18px;
  flex: 0.2 1 50px;
}

.post-date {
  flex: 0 2 50px;
}

.post-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.post-image {
  border-radius: 20px;
  width: 200px;
  height: 300px;
  margin: 5px;
}

.post-video {
  border-radius: 20px;
  aspect-ratio: 16/9;
}

.adom-count {
  flex: 1 1 20px;
}

.adom-count:hover {
  color: red;
}

.comment-count {
  flex: 1 1 20px;
}

.comment-count:hover {
  color: #00ffff;
}

.share-count {
  flex: 1 1 20px;
}

.adom-count,
.comment-count,
.share-count {
  font-size: 18px;
}

.share-count:hover {
  color: #7fff00;
}

.button {
  display: block;
  width: 100px;
  height: 36px;
  border-radius: 18px;
  background-color: #228b22;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.add-post-space {
  padding: 5px;
  background-color: #efefef;
}

.add-post {
  border: 1px solid #dcdcdc;
  padding: 10px;
  margin-top: 5px;
}

.add-post-header,
.add-post-media {
  display: flex;
  flex-direction: row;
}

.add-post-media {
  align-items: baseline;
}

.add-post-profile-picture img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.add-post-message {
  margin: 20px;
  font-size: 18px;
}

.add-post-emoji {
  flex: 0.15 0.15;
}

.add-post-submit {
  margin-left: auto;
  justify-content: center;
}

textarea {
  outline: none;
  resize: none;
  border: none;
}

.who-to-follow {
  background-color: #ebeef0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.who-to-follow-profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.who-to-follow-title {
  margin: 10px;
  justify-content: flex-start;
}

.who-to-follow-usename {
  font-weight: bold;
  font-size: 16px;
  flex: 0.5 1;
}

.profile-card {
  border: 0.5px solid #dcdcdc;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.follow-button {
  flex: 0.3 1;
}
